[Unit]
Description = The local OT text editor. 

[Service]
WorkingDirectory = /opt/localot
ExecStart = /usr/bin/npm start
Restart = always
Type = simple

[Install]
WantedBy = multi-user.target
